# Dependências
node_modules/
renderer/videos/

# Build/output
dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente (nunca suba senhas)
.env

# Cache
.cache/
