@media (max-width: 370px) {.controles {background-color: rgba(30,30,30,0.7); padding: 3px 10px; border-radius: 3px;}}
@media (min-width: 715px) {.controles {right: 50px;}}
@media (min-width: 900px) {.controles {right: auto; left: 500px;}}