:root {
    --color1: #74819d;
    --color2: #a78d9e;
    --color3: #e3b18b;
    --color4: #f8d28b;
    --color5: #fef0a5;

    --color-preto-azulado: rgb(0, 10, 30);
    --color-vermelho-escuro: rgb(120, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(43, 43, 43);
    min-width: 350px;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.series {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


#video-list {
    width: 100%;
    height: auto;
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
}

.container-span {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 7px;
    margin: 10px 5px;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgba(1, 3, 19, 0.1);
}

.titulo-element {
    margin-left: 15px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 1px;
    color: whitesmoke;
}

.container-video-item {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: .3s ease all;
}
/* rgba(0, 0, 0, 0.3) */
.move-right,
.move-left {
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.09),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.09));
    color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 202px;
    top: 35px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    z-index: 10;
    user-select: none;
    transition: .2s ease-in-out all;
}

.move-left:hover,
.move-right:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
    width: 50px;
}

.move-right {
    right: 0;
}

.move-left {
    left: 0;
}

.video-item {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    margin: 3px;
    padding: 3px;
    min-width: 250px;
    height: auto;
    border-radius: 3px;
    transition: .2s ease-in-out all;
}

.video-item:hover {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    transform: translateY(-6px);
}

.video-tamb-EP {
    background-color: var(--color-preto-azulado);
    padding: 0 3px;
    border-radius: 3px;
    width: 100%;
    height: 150px;
}

.title-EP {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    height: auto;
    white-space: nowrap;
    color: var(--color4);
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: helvetica;
    font-weight: bold;
    font-size: 14px;
}

.ultimo-video {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 10px;
    border-top: 2px solid var(--color-preto-azulado);
    background: linear-gradient(
        var(--color1),
        black
    );
    z-index: 10;
}

.obj-proximo-elemento {
    display: none;
    position: absolute;
    width: 80px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 3px 0 0 3px;
    text-align: end;
    align-content: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    right: 0;
    background-color: rgba(0, 10, 30, 0.3);
    border: 1px solid var(--color-preto-azulado);
    border-right: none;
    transition: .2s ease-in-out all;
    z-index: 999999;
}

.obj-proximo-elemento:hover {
    cursor: pointer;
    border: none;
    background-color: rgba(0, 10, 30, 0.5);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
}

.video-player {
    position: absolute;
    width: 350px;
    height: 200px;
    padding: 1px 5px 5px 1px;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    background-color: var(--color-preto-azulado);
}

#tela-inteira {
    opacity: .3;
    position: absolute;
    align-content: center;
    width: 350px;
    height: 200px;
    padding: 10px;
    user-select: none;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    z-index: 21;
    transition: .2s ease-in-out all;
}

#tela-inteira:hover {
    opacity: 1;
    background-color: rgba(0, 10, 30, 0.3);
}

.icon-tela-inteira {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    user-select: none;
    align-content: center;
    font-weight: 800;
    font-size: 30px;
    color: black;
    text-shadow: 0 0 5px white;
    transition: .2s ease all;
}

.icon-tela-inteira:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.3);
}

#video-anteriormente:fullscreen {
    padding: 0;
    margin: 0;
    border: none;
    width: auto;
    height: auto;
}

#container-text-serie-atual {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    color: var(--color5);
    overflow: hidden;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    font-family: helvetica;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(0,0,40,0.2);
    padding: 5px;
    border-radius: 3px;
}

#container-text-serie-atual > p {
    margin: 0 10px;
}

.controles {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 30px;
    bottom: 15px;
    min-width: 300px;
    height: auto;
    z-index: 30;
    transition: .2s ease-in-out all;
}

.container-controle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 30px;
    bottom: 15px;
    min-width: 300px;
    height: auto;
}

#voltar,
#avancar {
    min-width: 30px;
    text-align: left;
    align-content: center;
    height: auto;
    letter-spacing: -8px;
    font-size: 22px;
    user-select: none;
    transition: .1s ease-in-out all;
}

#play,
#pause {
    margin: 0 45px;
    min-width: 20px;
    text-align: center;
    align-content: center;
    width: auto;
    height: auto;
    font-size: 22px;
    user-select: none;
    transition: .1s ease-in-out all;
}

#voltar:hover,
#avancar:hover,
#play:hover,
#pause:hover {
    color: var(--color-vermelho-escuro);
    cursor: pointer;
    transform: scale(1.3);
    text-shadow: 0 0 2px rgba(245, 245, 245, 0.5);
    transition: .2s ease-in-out all;
}

.cont-lig-des {
    transform: scale(1.3);
    color: var(--color-vermelho-escuro);
    text-shadow: 0 0 2px rgba(245, 245, 245, 0.5);
}

#play {
    margin-right: 3px;
}

#pause {
    margin-left: 3px;
}

.container-progresso {
    background-color: rgba(0, 0, 255, 0.2);
    margin-top: 10px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#barra-progresso {
    width: 50%;
    height: 3px;
    background-color: var(--color-vermelho-escuro);
    border-radius: 2px;
}



.series::-webkit-scrollbar {
    width: 6px;
}

.series::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.series::-webkit-scrollbar-thumb {
    background: var(--color-preto-azulado);
    border-radius: 5px;
}

.series::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
